body {
    margin: 0;
    display: flex;
    font-size: 17px;
    height: 100vh;
}

nav#TableOfContents {
    flex-shrink: 0;
    width: 270px;
    margin: 0;
    padding: 3px 15px;
    border-color: #A0A0A0;
    border-style: solid;
    border-right: none;
}

nav#TableOfContents ul {
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
}

button#TocButton {
    border-left: none;
}

main {
    flex-grow: 1;
    overflow: auto;
    padding: 0 20px 120px 20px;
}

h2 {
    margin: 13px 0;
}

h3 {
    margin: 22px 0 13px 0;
}

h3::after {
    content: ' ';
    display: block;
    border: 0.6px solid black;
}

a {
    color: red;
}

dfn[title] {
    text-decoration: underline;
    text-decoration-style: dotted;
}

q {
    font-style: italic;
}

blockquote {
    font-style: italic;
    margin: 0 15px;
}

rt {
    margin-bottom: 2px;
}

code, kbd {
    font-size: 16px;
}

samp {
    padding: 0 2px;
    font-size: 15px;
    font-weight: bold;
}

table {
    margin: 18px auto;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 2px 8px;
    border: 1px solid black;
    border-collapse: collapse;
}

figcaption > p {
    font-style: italic;
    margin: 10px 0;
}

figure, div.youtube {
    margin: 1em 40px;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 350px;
    border: 3px solid black;
}

iframe {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    background-color: black;
    border: 3px solid black;
}
